{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": ["warn", 4, { "SwitchCase": 1 }],
    "semi": ["off"],
    "comma-dangle": ["warn", "always-multiline"],
    "dot-notation": "off",
    "eqeqeq": "warn",
    "curly": ["warn", "all"],
    "brace-style": ["warn"],
    "prefer-arrow-callback": ["warn"],
    "max-len": ["warn", 180],
    "no-console": ["warn"], // use the provided Homebridge log method instead
    "no-non-null-assertion": ["off"],
    "comma-spacing": ["error"],
    "lines-between-class-members": ["warn", "always", {"exceptAfterSingleLine": true}]
  }
}
